<!-- Footer -->
<footer>
  <div class="container">
    <div class="footer-grid">
      <div class="footer-column">
        <h3>Hooley Custom Homes</h3>
        <p>
          Bringing to life the homes people dream of in Sanpete & Juab County.
        </p>
        <div class="social-links">
          <a href="https://www.facebook.com/drywallcontractor/" target="_blank"
            ><i class="fab fa-facebook-f"></i></a
          >
          <a href="https://www.instagram.com/hooleycustomhomes/" target="_blank"
            ><i class="fab fa-instagram"></i></a
          >
        </div>
      </div>
      <div class="footer-column">
        <h3>Services</h3>
        <ul class="footer-links">
          <li>
            <a href="./services.html#custom-home-building"
              >Custom Home Building</a
            >
          </li>
          <li>
            <a href="./services.html#renovations-and-remodels"
              >Renovations & Remodels</a
            >
          </li>
          <li>
            <a href="./services.html#home-additions">Home Additions</a>
          </li>
          <li>
            <a href="./services.html#income-properties">Income Properties</a>
          </li>
          <li>
            <a href="./services.html#additional-services">Custom Features</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Service Areas</h3>
        <ul class="footer-links">
          <li>Sanpete County</li>
          <li>Juab County</li>
          <li>Ephraim, UT</li>
          <li>Manti, UT</li>
          <li>Fairview, UT</li>
          <li>Mount Pleasant, UT</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contact Us</h3>
        <ul class="footer-links">
          <li><i class="fas fa-phone"></i> (435) 469-2059</li>
          <li><i class="fas fa-envelope"></i> hooleydrywall@gmail.com</li>
          <li>
            <i class="fas fa-map-marker-alt"></i> 330 South 200 East, Fairview, UT
            84629
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 Hooley Custom Homes LLC. All Rights Reserved.</p>
      <p>
        #sanpetegeneralcontractor #generalcontractor #drywall
        #sanpetecountybuilders #juabcountybuilders #customhomes
      </p>
    </div>
  </div>
</footer>
